/* main_popular ------------------------------------------------------------------------------------------- */

.main{
  .container{
    .popular{
      width: 100%;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h6{
        margin: 0;
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 2rem;
        span{
          color: $orange;
        }
        i{
          color: $orange;
          margin-right: 1rem;
        }
      }
      .popular_card{
        width: 100%;
        position: relative;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        &:hover{
          .popular_card_img_overlay_h6{
            opacity: 1;
          }
          .popular_card_img_overlay_h5{
            opacity: 0;
          }

        }
        img{
          width: 100%;
          border-radius: 3%;
        }
        .popular_card_img_overlay_h6{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50% ,-50%);
          text-align: center;
          background: rgba(60,61,73,0.8);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 3%;
          opacity: 0;
          
          h6{
            padding-bottom: 1rem;
            position: relative;
            &::after{
              content: '';
              width: 128px;
              height: 8px;
              background: url('../img/title_shape.png') no-repeat center center/cover;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
            }
          }
          .popular_shopping{
            background-color: #3c3d49;
            color: $orange;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 50%;
            font-size: 1rem;
            
            &:hover{
              background-color: $orange;
              color: $white;
              cursor: pointer;
            }
          }
        }
        .popular_card_img_overlay_h5{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          opacity: 1;
          h5{
            margin-left: 2rem;
            color: $white;
            i{
              background-color: #3c3d49;
              color: $orange;
              padding: 0.5rem;
              border-radius: 50%;
              font-size: 1rem;
              margin-right: 1rem;
            }
            span{
              color: $orange;
            }
          }
        }
      }
    }
  }
}

@include md {
  .main{
    .container{
      .popular{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h6{
          width: 100%;
        }
        .popular_card{
          width: 45%;
          margin-right: 2rem;
          .popular_card_img_overlay_h6{
            h6{
              width: 50%;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@include xl{
  .main{
    .container{
      .popular{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h6{
          width: 100%;
        }
        .popular_card{
          width: 29.33333%;
          margin-right: 2rem;
          .popular_card_img_overlay_h6{
            h6{
              width: 50%;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

